<h2>FAQ <br><br>What Operarius is? </h2>
<p>
Operarius allows drivers and mechanics to meet theirs vehicle needs by giving possibility to place car repair or car issues advertisements.
<br>
Operarius helps drivers in finding the most convenient time and car workshop for having their car taken care of.
<br>
Also workshops can place announcements when they need specialists in a particular problem.
<br>
Drivers and mechanics can place advertisements and mechanics can undertake these repairs or diagnosis after both sides come to an agreement using to this Operarius.
<br>
The main goals of Operarius are: time saving, comfort and the best mechanic choice.
</p>
<h3>Is it free?</h3>
<p>Yes, this site is totally free</p>
<h3>Can I only add car parts announcement</h3>
<p>Yes, this is the purpose of this site</p>
<h3>What if I try add something else?</h3>
<p>Administrator won't let you do that. All offers have to be accepted, before they show on the site</p>
<h3>How many announcement can I add?</h3>
<p>Ther is no limitation</p>
<h3>Below you can find all links to project parts</h3>
<div>
<p><a href="https://github.com/G0-Pr0/Operarius" style="color:white">Github Repository</a></p>
<p><a href="https://github.com/G0-Pr0/Operarius/projects" style="color:white">Project Management</a></p>
<p><a href="https://github.com/G0-Pr0/Operarius/blob/master/Operarius%20(1).png" style="color:white">Take me to the UML</a></p>
<p><a href="https://pr.to/GHXMWT/" style="color:white">Take me to the prototype</a></p>
</div>

<p></p>
<h2></h2>
<p></p>

<!--
<h2>Question</h2>
<p>answer</p>

-->