p {
    color:white;
}
h1 {
    color: blanchedalmond;
}
h2{
    color: silver;
}
h3{
    font-size: 18px;
    color: silver;
    text-align:left
}
p{
    font-size: 14px;
}

/*pp-footer{
    position: relative;
    bottom: 0;
    width: 100%;
}*/