input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.padding{
  padding: 8px;
}

body{
  background-color: bisque;
}

.btn.btn-danger{
  width: 100%;
}

table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}