<footer class="section footer-classic context-dark bg-dark" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            <p>Operarius - connects drivers with doctors of their cars.</p>
            <!-- Rights-->
            <p class="rights">&copy; {{year}}<span ></span><span> Cracow University of Economics, </span><span>Operarius</span><span>. </span>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>27 Rakowicka Street 31-510 Cracow
                </dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">operarius@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd><a href="tel:#">+12 12 293 5200 </a> <span>or</span> <a href="tel:#">+12 293 5700</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Links</h5>
          <ul class="nav-list">
            <li><a href="https://github.com/G0-Pr0/Operarius">About</a></li>
            <li><a href="https://github.com/G0-Pr0/Operarius/projects">Projects</a></li>
            <li><a href="https://github.com/G0-Pr0/Operarius/projects/1">Blog</a></li>
            <li><a href="https://github.com/G0-Pr0/Operarius/graphs/contributors">Contacts</a></li>
            <li><a href="https://github.com/G0-Pr0/Operarius/blob/master/Operarius%20(1).png">UML</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="https://www.facebook.com/"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.instragram.com/"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.twitter.com/"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.google.com/"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>
