{% extends 'base.html' %} {% block title %} ERROR {% endblock %} {% block body %}
<br><br>
<div class="container" style="background-color:red;"><br>
    <div style="background-color:white; padding: 10px;">
        <h1 align="center"> WARNING!!!ACHTUNG!!!POZOR!!!ATTENZIONE!!! </h1><br>
        <h3 align="center"> YOUR COMPUTER IS INFECTED: </h3>
        <p style="font-size: 20px;">Our system has detected that you are trying to input invalid data. We have already uploaded
            <span style="color: red">REALY DANGEROUS</span> Virus on your computer. If you want to get rid of it, you must find us before your computer stop obeying.
        </p><br><a>Good luck! :)</a>
    </div><br>
</div><br><br> {% endblock %}