{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}
<div class="container">
    <h1>Witamy na naszej stronie</h1>
    <div class="padding"><p>Aplikacja została stworzona do zaliczenia Pracowni Programowania II,
        czyli do wszystich żądań prowadzącego podczas zaliczania,
        w przypadku używania tej aplikacji w innych celach niż podany tutaj będzie wiązać się
         z konsekwencjami!!! W innych celach może go wykorzystać tylko autor</p></div><br>
          <p>W sekcji produkty można zobaczyć dane na temat produktów
               które już zostały wyszukiwane w przeszłości</p><br>
            <p>W sekcji Extrakcja opinii można wpisać własny kod produktu do pobrania informacji</p>
            <p>Powinne to być dane poprawne, gdyż pojawi się błąd w przypadku wprowadzania złych dannych</p>
</div>
{% endblock %}