{% extends 'base.html' %} {% block title %} Home Page {% endblock %} {% block body %}
<div class="container" style="background-color: white;">
    <h2>Witam</h2>
    <div class="padding">
        <h3>Cel Aplikacji:</h3>
        <p>Aplikacja została stworzona do pobierania wszystkich danych o opiniach produktw</p>
    </div>
    <h3>Działanie</h3>
    <p>W sekcji produkty można zobaczyć dane na temat produktów które już zostały wyszukiwane w przeszłości</p><br>
    <p>W sekcji Extrakcja opinii można wpisać własny kod produktu do pobrania informacji</p>
    <p>Powinne to być dane poprawne, gdyż pojawi się błąd w przypadku wprowadzania złych dannych</p>
    <div id='libs'>
        <h3>Biblioteki użyte:</h3>
        <ul>
            <li>Flask</li>
            <li>Jinja</li>
            <li>NumPy</li>
            <li>MatplotLib</li>
            <li>BeautifullSoup</li>
            <li>Json</li>
            <li>IO</li>
            <li>Math</li>
            <li>Glob</li>
            <li>Os</li>
            <li>Regular Expressions</li>
            <li>Pandas</li>
            <li>URLlib</li>
            <li>Sys</li>
            <li>Csv</li>
            <li>Werzkreug</li>
        </ul>
        <ul>Samodzielnie pisane:
            <li>Module</li>
        </ul>
    </div>
    <div>
        <p>Zastosowane zostało porgramowanie objektowe oraz strukturalne</p>
    </div>
    <br><br>
</div> {% endblock %}