{% extends 'base.html' %} {% block title %} Products {% endblock %} {% block body %}
<div class="container">
    <h1>Wyscrapowane wcześniej produkty</h1>
    {% for (product_code,value) in products_dict.items() %}
    <div class="alert alert-info">
        <h2><a href="products/{{ product_code }}"><button class='btn-lg btn-danger'>{{ value }}</button></a></h2>
        <h3>{{ product_code | count }}</h3>
        <a href="{{ url_for('.jsonfile', path=product_code) }}"><button type="submit">JSON</button></a>
        <a href="{{ url_for('.csv', path=product_code) }}">
            <button type="submit">CSV</button>
        </a>
        <a href="{{ url_for('.xlsx', path=product_code) }}">
            <button type="submit">XLSX</button>
        </a>
    </div>
    {% endfor %} {{ delete }}
</div>
{% endblock %}